@model WebApplicationMVC.Models.Student

<table>
    <tr>
        <td>@Html.LabelFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Address)</td>
        <td>@Html.DisplayFor(model => model.Address)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.DateOfBirth)</td>
        <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Gender)</td>
        <td>@Html.DisplayFor(model => model.Gender)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Rank)</td>
        <td>@Html.DisplayFor(model => model.Rank)</td>
    </tr>
</table>
